<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test thread-count="5" name="ChTest">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="demo.CrossBrowsersTesting"/>
    </classes>
  </test> <!-- Test -->
  
  
  
  <test thread-count="5" name="IETest">
  <parameter name="browser" value="Internet Explorer"></parameter>
    <classes>
      <class name="demo.CrossBrowsersTesting"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="FFTest">
  <parameter name="browser" value="FireFox"></parameter>
    <classes>
      <class name="demo.CrossBrowsersTesting"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="EdTest">
  <parameter name="browser" value="Edge"></parameter>
    <classes>
      <class name="demo.CrossBrowsersTesting"/>
    </classes>
  </test> <!-- Test -->
  
  
  </suite> <!-- Suite -->
